# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# Media uploads
business_media/
payment_receipts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.env

advertisement_receipts/
